header .text a:hover, footer a:hover img {
  transform: scale(1.3);
  transition: all .5s;
}

.nav-icon.up img:hover {
  transform: translateY(-30%);
  transition: all .5s;
}

.nav-icon.down img:hover {
  transform: translateY(30%);
  transition: all .5s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: #585856;
}

section {
  color: #fff;
}

section .fox {
  position: absolute;
  width: 250px;
  height: auto;
}

section .fox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section h1 {
  margin: 120px 0;
}

h1 {
  font-size: 48px;
  line-height: 1.7;
}

.section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 90%;
  margin: auto;
}

.nav-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

.nav-icon.up {
  top: 0;
}

.nav-icon.down {
  bottom: 0;
}

header .banner {
  width: 100%;
  max-height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .text {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
}

header .text h1 {
  margin: 36px 0;
}

header .text a {
  margin-left: 24px;
}

header .text a img {
  width: 60px;
  height: 60px;
}

.pink {
  background: #d78082;
}

.pink .fox {
  top: 48px;
  right: 72px;
}

.blue {
  background: #80a7d7;
}

.blue .fox {
  bottom: 48px;
  left: 72px;
}

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

footer a {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
}

footer a img {
  width: auto;
  height: 60px;
  margin-right: 24px;
}

footer a:hover {
  text-decoration: underline;
}

footer a h1 {
  margin: 120px 0;
}

footer .socials a {
  margin: 0 96px;
}

footer p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 575px) {
  h1 {
    font-size: 18px;
  }
  header .text h1 {
    margin: 0;
  }
  header .text a img {
    width: 30px;
    height: 30px;
  }
  section h1,
  footer a h1 {
    margin: 24px 0;
  }
  section .fox {
    width: 125px;
  }
  .pink .fox {
    top: 24px;
    right: 36px;
  }
  .blue .fox {
    bottom: 24px;
    left: 36px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  h1 {
    font-size: 24px;
  }
  header .text h1 {
    margin: 0;
  }
  header .text a img {
    width: 30px;
    height: 30px;
  }
  section h1,
  footer a h1 {
    margin: 24px 0;
  }
  section .fox {
    width: 125px;
  }
  .pink .fox {
    top: 24px;
    right: 36px;
  }
  .blue .fox {
    bottom: 24px;
    left: 36px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }
  header .text h1 {
    margin: 12px 0;
  }
  section h1,
  footer a h1 {
    margin: 48px 0;
  }
}
/*# sourceMappingURL=style.css.map */