*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(255, 255, 243);
}

.imageWrapper {
  display: flex;
  justify-content: center;

  .image {
    width: 100%;
    height: auto;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: all .5s;
    }
  }
}
